.post {
    border: solid;
    border-color: lightgray;
    border-radius: 15px;
    margin-top: 1%; 
    margin-bottom: 1%;
    padding: 2%;
}

.body {
    margin: 1%;
}

input[type=submit] {
    background-color: #0c7bff;
    color: whitesmoke;
    border: solid;
    border-color: transparent;
    border-radius: 5px;
    padding: 3px;
}

textarea {
    border: solid lightgray;
    border-radius: 7px;
}