{% extends "main/layout.html" %}
{% load static %}
{% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Mate</title>
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}"/>
    <link href="{% static 'main/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/attractions.css' %}" rel="stylesheet">
    <script src="{% static 'main/js/attractions.js' %}"></script>
    
{% endblock %}
{% block body %}
    {% comment %} <div class="lg-container full-screen"> {% endcomment %}
      {% comment %} <div class="tr-card">

        <div class="slider-container">

        <img
          class="slider-image"
          src="{% static 'main/img/maldives/colin-watts-M1ObxvsWVhY-unsplash.jpg' %}"
        />
        <button class="prev-button"></button>
        <button class="next-button"></button>
      </div>
      <div class="trinfo">
        <div class="tripn">Beautiful Maldives</div>
        <p>
          The Maldives is a paradise on earth, with its turquoise waters, white
          sandy beaches, and overwater bungalows. It's a great destination for
          snorkeling, diving, and relaxing in luxury resorts.
        </p>
      </div>
    </div> {% endcomment %}
    <img
            src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference={{photo}}&key={{api}}"
            alt=""
          />
    <h2>{{place}}</h2>

    {% if user.is_authenticated %}
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="dbid" value={{dbid}}>
        <button type="submit">Add to Visit List</button>
      </form>
    {% endif %}
    <div id="restaurant">
      <h3 style="text-align:center; font-size:50px">Places to Eat</h3>
      <div class="tr-wrapper">
        {% for restaurant in eat %}
          <div class="tr-card">
              <div class="tr-badge">
              {% comment %} <h4 style="color: black">$500</h4> {% endcomment %}
              </div>
              {% if restaurant.photos %}
                <img
                  src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference={{restaurant.photos.0.photo_reference}}&key={{api}}"
                  alt=""
                />
              {% endif %} 
              <div class="trinfo">
              <div class="tripn">{{restaurant.name}}</div>
              <p>
                
                  {% if restaurant.dine_in %}
                  <p>Dine In: {{restaurant.dine_in}}</p>  
                  {% endif %} {% if restaurant.price_level == 0 %}
                  <p>Price Level: Free</p>
                  {% elif restaurant.price_level == 1 %}
                  <p>Price Level: Inexpensive</p>
                  {% elif restaurant.price_level == 2 %}
                  <p>Price Level: Moderate</p>
                  {% elif restaurant.price_level == 3 %}
                  <p>Price Level: Expensive</p>
                  {% elif restaurant.price_level == 4 %}
                  <p>Price Level: Very Expensive</p>
                  {% endif %} {% if restaurant.rating %}
                  <p>Rating: {{restaurant.rating}}/5</p>
                  {% endif %} {% if restaurant.formatted_phone_number %}
                  <p>Phone Number: {{restaurant.formatted_phone_number}}</p>
                  {% endif %} {% if restaurant.formatted_address %}
                  <p>Address: {{restaurant.formatted_address}}</p>
                  {% endif %}
                
              </p>
              <button><a href="{{restaurant.url}}">Learn More</a></button>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div id="tourist_spot">
      <h3 style="text-align:center;font-size:50px">Places to See</h3>
      <div class="tr-wrapper">
        {% for place in places %}
          <div class="tr-card">
              <div class="tr-badge">
              {% comment %} <h4 style="color: black">$500</h4> {% endcomment %}
              </div>
              {% if place.photos %}
                <img
                  src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference={{place.photos.0.photo_reference}}&key={{api}}"
                  alt=""
                />
              {% endif %} 
              <div class="trinfo">
              <div class="tripn">{{place.name}}</div>
              <p>
                <ul>
                  {% if place.price_level == 0 %}
                  <p>Price Level: Free</p>
                  {% elif place.price_level == 1 %}
                  <p>Price Level: Inexpensive</p>
                  {% elif place.price_level == 2 %}
                  <p>Price Level: Moderate</p>
                  {% elif place.price_level == 3 %}
                  <p>Price Level: Expensive</p>
                  {% elif place.price_level == 4 %}
                  <p>Price Level: Very Expensive</p>
                  {% endif %} {% if place.rating %}
                  <p>Rating: {{place.rating}}/5</p>
                  {% endif %} {% if place.formatted_phone_number %}
                  <p>Phone Number: {{place.formatted_phone_number}}</p>
                  {% endif %} {% if place.formatted_address %}
                  <p>Address: {{place.formatted_address}}</p>
                  {% endif %}
                </ul>
              </p>
              <button><a href="{{place.url}}">Learn More</a></button>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}