{% extends "main/layout.html" %} {% load static %} 
{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}"/>
    <script src="{% static 'main/js/home.js' %}"></script>
{% endblock head %}
{% block body %}
<h1>Journey Wise</h1>
<hr />
    {% if user.is_authenticated %}
        <h3>Hello {{user.username}}</h3>
    {% else %}
        <h3>
            You are not logged in
        </h3>
    {% endif %}

    <section>
        <div class="containerr">
          <h1 style="font-size: 2.5rem; margin-top: 20px">
            Explore amazing places
          </h1>
          <div class="search-box">
            <input type="text" placeholder="Search" />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 101 101"
              id="search"
            >
              <path
                d="M63.3 59.9c3.8-4.6 6.2-10.5 6.2-17 0-14.6-11.9-26.5-26.5-26.5S16.5 28.3 16.5 42.9 28.4 69.4 43 69.4c6.4 0 12.4-2.3 17-6.2l20.6 20.6c.5.5 1.1.7 1.7.7.6 0 1.2-.2 1.7-.7.9-.9.9-2.5 0-3.4L63.3 59.9zm-20.4 4.7c-12 0-21.7-9.7-21.7-21.7s9.7-21.7 21.7-21.7 21.7 9.7 21.7 21.7-9.7 21.7-21.7 21.7z"
              ></path>
            </svg>
          </div>
        </div>
  
        <div class="tr-wrapper">
          <div class="tr-card">
            <div class="tr-badge">
              <h4 style="color: black">$500</h4>
            </div>
            <img src="maldives/rayyu-maldives-xPsFXsbXJRg-unsplash.jpg' %}" />
            <div class="trinfo">
              <div class="tripn">Beautiful Maldives</div>
              <p>
                The Maldives is a paradise on earth, with its turquoise waters,
                white sandy beaches, and overwater bungalows. It's a great
                destination for snorkeling, diving, and relaxing in luxury
                resorts.
              </p>
              <button><a href="attractions.html">BOOK NOW</a></button>
            </div>
          </div>
          <div class="tr-card">
            <div class="tr-badge">
              <h4 style="color: black">$200</h4>
            </div>
            <img src="{% static 'main/img/jaipur.jpg' %}" />
            <div class="trinfo">
              <div class="tripn">Jaipur , India</div>
              <p>
                Jaipur, also known as the "Pink City," is a vibrant and colorful
                destination filled with stunning architecture, bustling bazaars,
                and delicious food.
              </p>
              <button>
                <a href="https://thebucketlisttrips.com/corona">BOOK NOW</a>
              </button>
            </div>
          </div>
          <div class="tr-card">
            <div class="tr-badge">
              <h4 style="color: black">$244</h4>
            </div>
            <img src="{% static 'main/img/paris-1852928.jpg' %}" />
            <div class="trinfo">
              <div class="tripn">Paris , France</div>
              <p>
                Paris is renowned for its stunning architecture, including the
                iconic Eiffel Tower and Gothic Notre-Dame Cathedral.
              </p>
              <button>
                <a href="https://thebucketlisttrips.com/corona">BOOK NOW</a>
              </button>
            </div>
          </div>
          <div class="tr-card">
            <div class="tr-badge">
              <h4 style="color: black">$311</h4>
            </div>
            <img src="{% static 'main/img/japan-1706942.jpg' %}" />
            <div class="trinfo">
              <div class="tripn">Mount fuji , Japan</div>
              <p>
                Mount Fuji is the highest mountain in Japan, standing tall at
                3,776 meters and offering breathtaking views of the surrounding
                countryside.
              </p>
              <button><a href="#">BOOK NOW</a></button>
            </div>
          </div>
          <div class="tr-card">
            <div class="tr-badge">
              <h4 style="color: black">$100</h4>
            </div>
            <img src="{% static 'main/img/taj-mahal-383097.jpg' %}" />
            <div class="trinfo">
              <div class="tripn">Taj mahal , India</div>
              <p>
                The Taj Mahal, located in Agra, India, is a beautiful mausoleum
                made entirely of white marble, and is often considered one of the
                most beautiful buildings in the world.
              </p>
              <button>
                <a href="https://thebucketlisttrips.com/corona">BOOK NOW</a>
              </button>
            </div>
          </div>
          <div class="tr-card">
            <div class="tr-badge">
              <h4 style="color: black">$242</h4>
            </div>
            <img src="{% static 'main/img/new-york-3558337_1920.jpg' %}" />
            <div class="trinfo">
              <div class="tripn">Statue of liberty</div>
              <p>
                Visitors can climb the 354 steps to the crown for a breathtaking
                view of New York City's skyline.
              </p>
              <button>
                <a href="https://thebucketlisttrips.com/corona">BOOK NOW</a>
              </button>
            </div>
          </div>
        </div>
        {% for city, country, lat, lon in spots %}
            <div class="tr-card">
                <div class="tr-badge">
                <h4 style="color: black">$500</h4>
                </div>
                <img src="maldives/rayyu-maldives-xPsFXsbXJRg-unsplash.jpg' %}" />
                <div class="trinfo">
                <div class="tripn">{{city}}, {{country}}</div>
                <p>
                    Latitude: {{lat}}<br>
                    Longitude: {{lon}}<br>
                    The Maldives is a paradise on earth, with its turquoise waters,
                    white sandy beaches, and overwater bungalows. It's a great
                    destination for snorkeling, diving, and relaxing in luxury
                    resorts.
                </p>
                <button><a href="attractions.html">BOOK NOW</a></button>
                </div>
            </div>
        {% endfor %}
      </section>

    {% endblock %}
    
