{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Mate</title>
    <link href="{% static 'main/home.css' %}" rel="stylesheet">
    <link href="{% static 'main/responsive.css' %}" rel="stylesheet">
  </head>
  <body>
        <nav class="navbar">
        <div class="navbar-header">
            <div class="ano">
            <p style="font-size: 1.6rem">TravelMate</p>
            </div>
        </div>
        <div class="navbar-menu" id="navbar-menu">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
            
        </div>
        </nav>
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
          </div>
        {% block body %}
        {% endblock %}
        </div>
    </body>
</html>
