@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap");
/* imports*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lobster", cursive;
}

/* button {
  display: none;
} */

/* nav bar style starts*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(145deg, rgba(226,91,91,1) 1%, rgba(214,93,227,1) 100%); */
    background-color: #1a2470;
    color: #fff;
    height: 65px;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 35px;
}

.nav-item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    /* border: solid; */
    /* transition: background-color 0.7s ease;
  transition: padding 0.5s ease-in-out; */
    transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
    color: #b6c9ff;
}

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 6px;
    background: #41498a;
    position: sticky;
    top: 60px;
    z-index: 1;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 6px;
    background: #8583ff;
    width: 0%;
}

.tr-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.slider-container {
    position: relative;
    height: 400px;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

.slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slider-image.active {
    opacity: 1;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.prev-button::before,
.next-button::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 1;
}

.prev-button::before {
    border-right: 10px solid #000;
    left: 10px;
    margin-left: -5px;
}

.next-button::before {
    border-left: 10px solid #000;
    right: 10px;
    margin-right: -5px;
}

.lg-container {
    /* position: relative; */
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.xlg-container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.different-container {
    width: 50%;
    margin-inline: auto;
    text-align: center;
    margin-top: 50px;
}

.another-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container:has(section) {
    margin-top: 50px;
}

.section-container {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.move-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.full-screen {
    height: calc(40vh - 71px)
}

.btn {
    display: inline-block;
    background: white;
    color: #000000;
    padding: 15px 35px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.4s ease;
    font-size: 1.3rem;
    box-shadow: 3px 3px 10px white;
}

.btn:hover {
    color: #fff;
    background: #5f71fd;
    padding: 17px 50px;
    box-shadow: 5px 5px 10px #5f71fd;
}

.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    padding-right: 5px;
    color: white; /* White text color */
}